[Desktop Entry]
Version=1.0
Type=Application
Name=Calculator
Comment=Perform calculations
Icon=accessories-calculator
Exec=gnome-calculator
Terminal=false
Categories=Utility;Calculator;
StartupNotify=true
