[Desktop Entry]
Version=1.0
Type=Application
Name=Files
Comment=Browse files and folders
Icon=system-file-manager
Exec=thunar
Terminal=false
Categories=System;FileManager;
StartupNotify=true
