[Desktop Entry]
Version=1.0
Type=Application
Name=GIMP Image Editor
Comment=Create and edit images
Icon=gimp
Exec=gimp %U
Terminal=false
Categories=Graphics;2DGraphics;RasterGraphics;
MimeType=image/png;image/jpeg;image/gif;
StartupNotify=true
