[Desktop Entry]
Version=1.0
Type=Application
Name=LibreOffice Calc
Comment=Create and edit spreadsheets
Icon=libreoffice-calc
Exec=libreoffice --calc %U
Terminal=false
Categories=Office;Spreadsheet;
MimeType=application/vnd.oasis.opendocument.spreadsheet;application/vnd.ms-excel;
StartupNotify=true
