[Desktop Entry]
Version=1.0
Type=Application
Name=LibreOffice Writer
Comment=Create and edit text documents
Icon=libreoffice-writer
Exec=libreoffice --writer %U
Terminal=false
Categories=Office;WordProcessor;
MimeType=application/vnd.oasis.opendocument.text;application/msword;
StartupNotify=true
