[Desktop Entry]
Version=1.0
Type=Application
Name=System Settings
Comment=Configure your desktop
Icon=preferences-system
Exec=xfce4-settings-manager
Terminal=false
Categories=Settings;DesktopSettings;
StartupNotify=true
