[Desktop Entry]
Version=1.0
Type=Application
Name=Task Manager
Comment=Monitor and manage running processes
Icon=xfce4-taskmanager
Exec=xfce4-taskmanager
Terminal=false
Categories=System;Monitor;
StartupNotify=true
