[Desktop Entry]
Version=1.0
Type=Application
Name=Terminal
Comment=Open a command-line terminal
Icon=utilities-terminal
Exec=xfce4-terminal
Terminal=false
Categories=System;TerminalEmulator;
StartupNotify=true
