[Desktop Entry]
Version=1.0
Type=Application
Name=Text Editor
Comment=Edit text files
Icon=accessories-text-editor
Exec=mousepad %F
Terminal=false
Categories=Utility;TextEditor;
MimeType=text/plain;
StartupNotify=true
